body{padding:0px;
  margin:0px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

#whole {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

/*
#preparation {
  background-color: rgb(236, 126, 126);
}
*/

.gallery-item-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}
